<h2 class="multipleStrings"></h2>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new TypeIt(".multipleStrings", {
      speed: 75,
      loop: true,
    })
    .type("🌟 Animação")
    .pause(1000)
    .delete()
    .type("🎞 Filmes")
    .pause(1000)
    .delete()
    .type("🎬 Séries")
    .pause(1000)
    .delete()
    .type("🎮 Jogos")
    .pause(1000)
    .delete()
    .type("🦸‍♂️ Quadrinhos")
    .pause(1000)
    .delete()
    .type("📷 Fotografia")
    .pause(1000)
    .delete()
    .type("📖 Literatura")
    .pause(1000)
    .delete()
    .type("🖼 Pinturas")
    .pause(1000)
    .delete()
    .go();
  });
</script>

